.form {
  width: 50vw;
  margin: auto;
  box-shadow: -1px -1px 88px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  align-self: center;
}

fieldset {
  height: 50px;
  margin-bottom: 16px;

  border-radius: 5px;
  border: 1px solid #358bf5;
}

form button {
  border: none;
  background-color: #358bf5;
  border-radius: 5px;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  min-width: 150px;
}

input {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
}
