/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections styles */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

/* Form page styles */
/* @import url('./form.css'); */

/* Timer page styles */
@import url('./timer.css');

/* Snackbar page styles */
@import url('./snackbar.css');
